Repository trilitech/ledger-app-tezos-wallet, pull requests merged in 2023-10, with the labels that each got.

#93 tooling: improvements to dev workflow
  Makefile
  README.md
  scripts/run_app.sh
  tests/integration/app_vars.sh
  tests/integration/test_runtime.sh
Labels: tests

#94 stax: fix home text
  app/src/ui_home_nbgl.c
  tests/integration/stax/snapshots/home.png
  tests/integration/stax/snapshots/home_bs_enabled_blindsign.png
  tests/integration/stax/snapshots/home_bs_enabled_clearsign.png
Labels: app::wallet, device::STAX

#96 Add a version screen at top level for nano devices
  app/src/globals.h
  app/src/ui_home.c
  app/src/ui_stream.h
  tests/integration/app_vars.sh
  tests/integration/nano/test_basic.sh
  tests/integration/nano/test_blindsign_basic.sh
  tests/integration/nano/test_blindsign_too_deep.sh
  tests/integration/nano/test_blindsign_too_large.sh
  tests/integration/test_runtime.sh
Labels: app::wallet, device::NANOS, device::NANOSP, device::NANOX

#97 Change the back settings screen icon to back arrow
  app/src/ui_settings.c
  app/src/ui_stream.c
  app/src/ui_stream.h
Labels: app::wallet, device::NANOS, device::NANOSP, device::NANOX

#95 stax: fix settings text
  app/src/ui_home_nbgl.c
  tests/integration/stax/snapshots/settings_blindsigning_off.png
  tests/integration/stax/snapshots/settings_blindsigning_on.png
Labels: app::wallet, device::STAX

#99 CI: fix docker rebuild on every merge to main
  .github/workflows/docker.yml
  .gitlab-ci-build-docker.yml
  .gitlab-ci.yml
  .gitlab/build-template.yml
  .gitlab/generate-template.yml
  .gitlab/integration-template.yml
  .pre-commit-config.yaml
Labels: bug, CI

#105 Stax: review operation splash screen must wait for tap to advance
  app/src/apdu_sign.c
  app/src/ui_stream.c
  app/src/ui_stream.h
  app/src/ui_stream_nbgl.c
  tests/integration/stax/test_parsing_errors.py
  tests/integration/stax/utils.py
Labels: bug, app::wallet, device::STAX
