Repository trilitech/ledger-app-tezos-wallet, pull requests merged in 2023-11, with the labels that each got.

#34 apdu_pubkey.c: don't check if we are locked
  app/src/apdu_pubkey.c
Labels: app::wallet

#106 tests: add bip25519 derivation in integration tests
  tests/integration/check_section_text.py
  tests/integration/nano/test_get_tz1_bip25519_pk.sh
  tests/integration/nano/test_get_tz1_ed25519_pk.sh
  tests/integration/nano/test_provide_tz1_bip25519_pk.sh
  tests/integration/nano/test_provide_tz1_ed25519_pk.sh
  tests/integration/nano/test_tz1_bip25519_sign_micheline_basic.sh
  tests/integration/nano/test_tz1_ed25519_sign_micheline_basic.sh
Labels: app::wallet, tests

#109 Swap: Change branche pointer for commit pointer in swap job
  .github/workflows/swap.yml
Labels: CI, app::wallet

#101 Update approve text
  .github/workflows/swap.yml
  app/src/apdu_pubkey.c
  app/src/apdu_sign.c
  app/src/app_main.c
  app/src/exception.h
  app/src/ui_home.c
  app/src/ui_settings.c
  app/src/ui_stream.c
  app/src/ui_stream.h
  app/src/ui_stream_nbgl.c
  tests/integration/nano/test_provide_tz1_bip25519_pk.sh
  tests/integration/nano/test_provide_tz1_ed25519_pk.sh
  tests/integration/nano/test_provide_tz2_pk.sh
  tests/integration/nano/test_provide_tz3_pk.sh
  tests/integration/nano/test_regression_continue_after_reject.sh
  tests/integration/nano/test_reject_pk.sh
  tests/integration/test_runtime.sh
Labels: app::wallet, device::NANOS, device::NANOSP, device::NANOX

#113 wallet: Add public key to globals
  app/src/apdu_pubkey.c
  app/src/apdu_sign.c
  app/src/app_main.c
  app/src/globals.h
  app/src/handle_swap.c
  app/src/keys.c
  app/src/keys.h
  app/src/ui_stream_nbgl.c
  tests/integration/nano/test_provide_tz1_bip25519_pk.sh
Labels: app::wallet

#116 wallet: local clang-format added to pre-commit.
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Labels: CI, tooling

#115 ui_strings: a ring buffer for screen text
  app/src/exception.h
  app/src/globals.h
  app/src/ui_stream.c
  app/src/ui_stream.h
  app/src/ui_stream_nbgl.c
  app/src/ui_strings.c
  app/src/ui_strings.h
Labels: app::wallet

#127 ui_strings: global not static
  app/src/ui_strings.c
Labels: bug, app::wallet

#126 stax: enable text wrapping
  app/src/ui_stream_nbgl.c
  tests/integration/stax/snapshots/test_parsing_errors/tpe_review_1_01.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/tseom_review_00.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/outbox_review_0.png
Labels: app::wallet, device::STAX

#125 Tests: fix failing backend start
  tests/integration/nano/utils/app.py
Labels: bug, CI, tests

#128 nano: fix misleading warning on first screen
  app/src/ui_stream.c
Labels: bug, device::NANOS, device::NANOSP, device::NANOX

#135 CI: update screens snapshots in swap tests according to PR 118
  .github/workflows/swap.yml
Labels: CI, tests, device::NANOS, device::NANOSP

#140 CI: fix eth-app version in swap-tests
  .github/workflows/swap.yml
Labels: bug, CI, app::wallet, tests

#143 stax: remove skip button
  app/src/nbgl_sdk.c
  app/src/nbgl_sdk.h
  app/src/ui_home_nbgl.c
  app/src/ui_stream_nbgl.c
  tests/integration/stax/snapshots/test_parsing_errors/tpe_review_0_01.png
  tests/integration/stax/snapshots/test_parsing_errors/tpe_review_0_02_dest_only.png
  tests/integration/stax/snapshots/test_parsing_errors/tpe_review_0_02_full.png
  tests/integration/stax/snapshots/test_parsing_errors/tpe_review_0_02_partial.png
  tests/integration/stax/snapshots/test_parsing_errors/tpe_review_1_01.png
  tests/integration/stax/snapshots/test_reject_transfer/trt_review_1.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_0.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_1.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_2.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_3.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_4.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_5.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/tseom_review_00.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/tseom_review_01.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/home.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/loading_operation.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/operation_sign.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/outbox_review_0.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/review_request_sign_operation.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/signing_successful.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages_skip/skip_to_signing.png
  tests/integration/stax/snapshots/test_sign_transfer/operation_0_transaction.png
  tests/integration/stax/snapshots/test_sign_transfer/operation_amount_0.24tz.png
  tests/integration/stax/snapshots/test_sign_transfer/operation_destination_kt18am...rHT.png
  tests/integration/stax/snapshots/test_sign_transfer/operation_entrypoint_do.png
  tests/integration/stax/snapshots/test_sign_transfer/operation_fee_0.05.png
  tests/integration/stax/snapshots/test_sign_transfer/operation_parameter_CAR.png
  tests/integration/stax/snapshots/test_sign_transfer/operation_storage_limit_45.png
  tests/integration/stax/snapshots/test_sign_transfer/tst_review_001.png
  tests/integration/stax/snapshots/test_sign_transfer/tst_review_002.png
  tests/integration/stax/snapshots/test_sign_transfer_skip/home.png
  tests/integration/stax/snapshots/test_sign_transfer_skip/operation_0_transaction.png
  tests/integration/stax/snapshots/test_sign_transfer_skip/operation_sign.png
  tests/integration/stax/snapshots/test_sign_transfer_skip/review_request_sign_operation.png
  tests/integration/stax/snapshots/test_sign_transfer_skip/signing_successful.png
  tests/integration/stax/snapshots/test_sign_transfer_skip/skip_to_signing.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/operation_0_transaction.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/operation_amount_0.24tz.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/operation_destination_kt18am...rHT.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/operation_entrypoint_do.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/operation_fee_0.05.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/operation_parameter_CAR.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/operation_storage_limit_45.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/review_0.png
  tests/integration/stax/snapshots/test_sign_transfer_without_hash/review_1.png
  tests/integration/stax/test_sign_execute_outbox_messages_skip.py
  tests/integration/stax/test_sign_transfer_skip.py
Labels: app::wallet, device::STAX

#134 CI: Add swap stax test
  .github/workflows/swap.yml
Labels: CI, app::wallet, tests, device::STAX

#145 stax: append value to previous when titles the same
  app/src/ui_stream.h
  app/src/ui_stream_nbgl.c
  app/src/ui_strings.c
  app/src/ui_strings.h
  tests/integration/stax/snapshots/test_parsing_errors/tpe_review_too_deep_0.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_0.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_1.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_2.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_3.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_4.png
  tests/integration/stax/snapshots/test_sign_execute_outbox_messages/operation_proof_396...834_5.png
  tests/integration/stax/test_parsing_errors.py
  tests/integration/stax/test_sign_execute_outbox_messages.py
Labels: app::wallet, device::STAX

#148 stax: remove skip code
  app/src/apdu_sign.c
  app/src/apdu_sign.h
  app/src/ui_stream_nbgl.c
  tests/integration/stax/utils.py
Labels: app::wallet, device::STAX, code quality

#149 wallet: add top-level ledger_app.toml file
  ledger_app.toml
Labels: CI, app::wallet
