Repository trilitech/ledger-app-tezos-wallet, pull requests merged in 2023-12, with the labels that each got.

#150 CI: remove unneeded lines from reusable workflows
  .github/workflows/guidelines_enforcer.yml
Labels: CI

#151 147 fix code no trivial switch statements scanning alert
  app/src/app_main.c
  app/src/ui_home_nbgl.c
Labels: app::wallet, code quality

#165 SDK: bump to 3.11.0
  .github/workflows/build.yml
  Makefile
  app/0001-patch-fix-non-reset-states.patch
Labels: CI, app::wallet

#160 Boostrap the `ctest` framework for future unit tests written in C
  .github/workflows/build.yml
  Makefile
  tests/unit/Makefile
  tests/unit/ctest/.gitignore
  tests/unit/ctest/Makefile
  tests/unit/ctest/README.md
  tests/unit/ctest/ctest.h
  tests/unit/ctest/ctest_output.png
  tests/unit/ctest/main.c
  tests/unit/parser/.gitignore
  tests/unit/parser/Makefile
  tests/unit/parser/dune
  tests/unit/parser/micheline_cparse_stubs.c
  tests/unit/parser/test_c_parser.ml
  tests/unit/parser/test_c_parser_utils.ml
  tests/unit/parser/test_micheline_c_parser.ml
  tests/unit/parser/test_operations_c_parser.ml
Labels: CI, app::wallet, tests

#159 Add complex trait to operation fields
  .pre-commit-config.yaml
  Makefile
  app/src/parser/operation_parser.c
  app/src/parser/operation_state.h
  app/src/parser/parser_state.c
  app/src/parser/parser_state.h
  tests/unit/ctest/Makefile
  tests/unit/ctest/ctest.h
  tests/unit/ctest/digestif/LICENSE.md
  tests/unit/ctest/digestif/bitfn.h
  tests/unit/ctest/digestif/sha256.c
  tests/unit/ctest/digestif/sha256.h
  tests/unit/ctest/main.c
  tests/unit/ctest/tests_parser.c
Labels: app::wallet

#170 Parser: fix is_field_complex
  app/src/parser/operation_parser.c
  tests/unit/ctest/tests_parser.c
Labels: bug, app::wallet

#172 Add field index and create a grouped struct for field information.
  Makefile
  app/src/apdu_sign.c
  app/src/parser/operation_parser.c
  app/src/parser/parser_state.c
  app/src/parser/parser_state.h
  tests/unit/ctest/tests_parser.c
  tests/unit/parser/micheline_cparse_stubs.c
Labels: app::wallet
