Repository trilitech/ledger-app-tezos-wallet, pull requests merged in 2024-07, with the labels that each got.

#246 Use the guideline provided useCaseHomeAndSettings use case.
  app/src/apdu_pubkey.c
  app/src/ui_home_nbgl.c
  scripts/run_app.sh
  tests/integration/stax/snapshots/info.png
  tests/integration/stax/snapshots/test_basic/settings_blindsigning_expert_on.png
  tests/integration/stax/snapshots/test_basic/settings_blindsigning_off.png
  tests/integration/stax/snapshots/test_basic/settings_blindsigning_on.png
  tests/integration/stax/snapshots/test_basic/settings_expert_on.png
  tests/integration/stax/snapshots/test_blindsign_too_deep/settings_blindsigning_on.png
  tests/integration/stax/snapshots/test_blindsign_too_large/settings_blindsigning_on.png
  tests/integration/stax/snapshots/test_blindsign_valid/settings_blindsigning_off.png
  tests/integration/stax/snapshots/test_blindsign_valid/settings_blindsigning_on.png
  tests/integration/stax/snapshots/test_provide_pk/address_verified.png
  tests/integration/stax/snapshots/test_provide_pk/screen_show_address_tz1_zebra.png
  tests/integration/stax/snapshots/test_provide_pk/screen_verify_address.png
  tests/integration/stax/snapshots/test_provide_pk_reject/address_rejected.png
  tests/integration/stax/snapshots/test_provide_pk_reject/screen_show_address_tz1_zebra.png
  tests/integration/stax/snapshots/test_provide_pk_reject/screen_verify_address.png
  tests/integration/stax/test_basic.py
  tests/integration/stax/test_blindsign_too_deep.py
  tests/integration/stax/test_blindsign_too_deep_rejections.py
  tests/integration/stax/test_blindsign_too_large.py
  tests/integration/stax/test_blindsign_valid.py
  tests/integration/stax/test_expert_mode_rejections.py
  tests/integration/stax/test_provide_pk_reject.py
  tests/integration/stax/utils.py
Labels: app::wallet

#255 Add michelson `D_Ticket` to the formatter
  app/src/parser/formatting.c
  app/src/parser/formatting.h
Labels: enhancement, app::wallet

#262 261 duplicate rejection pages at last signing page
  app/src/ui_stream_nbgl.c
  tests/integration/touch/snapshots/flex/test_reject_transfer/enable_expert_mode.png
  tests/integration/touch/snapshots/flex/test_reject_transfer/enabled_expert_mode.png
  tests/integration/touch/snapshots/flex/test_reject_transfer/expert_mode_splash.png
  tests/integration/touch/snapshots/flex/test_reject_transfer/operation_sign.png
  tests/integration/touch/snapshots/flex/test_reject_transfer/trt_review_2.png
  tests/integration/touch/snapshots/flex/test_reject_transfer/trt_review_3.png
  tests/integration/touch/snapshots/stax/test_reject_transfer/enable_expert_mode.png
  tests/integration/touch/snapshots/stax/test_reject_transfer/enabled_expert_mode.png
  tests/integration/touch/snapshots/stax/test_reject_transfer/expert_mode_splash.png
  tests/integration/touch/snapshots/stax/test_reject_transfer/operation_sign.png
  tests/integration/touch/snapshots/stax/test_reject_transfer/trt_review_2.png
  tests/integration/touch/snapshots/stax/test_reject_transfer/trt_review_3.png
  tests/integration/touch/test_reject_transfer.py
Labels: app::wallet

#263 Fix blindsigning warning arrows
  app/glyphs/icon_go_cross.gif
  app/glyphs/icon_go_dots.gif
  app/src/apdu_pubkey.c
  app/src/apdu_sign.c
  app/src/globals.h
  app/src/ui_home.c
  app/src/ui_settings.c
  app/src/ui_stream.c
  app/src/ui_stream.h
  tests/integration/nano/snapshots/nanosp/test_blindsign_reject/reject_from_blind/clear/00001.png
  tests/integration/nano/snapshots/nanosp/test_blindsign_reject/reject_from_blind/clear/00002.png
  tests/integration/nano/snapshots/nanosp/test_blindsign_reject/reject_from_clear/00001.png
  tests/integration/nano/snapshots/nanosp/test_blindsign_reject/reject_from_clear/00002.png
  tests/integration/nano/snapshots/nanosp/test_blindsign_too_deep/clear/00001.png
  tests/integration/nano/snapshots/nanosp/test_blindsign_too_deep/clear/00002.png
  tests/integration/nano/snapshots/nanosp/test_blindsign_too_large/clear/00001.png
  tests/integration/nano/snapshots/nanosp/test_blindsign_too_large/clear/00002.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/one_byte_added_at_the_end/00011.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/one_byte_added_at_the_end/00012.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/one_byte_added_inside/00008.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/one_byte_added_inside/00009.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/one_byte_removed_inside/00009.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/one_byte_removed_inside/00010.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/unknown_magic_bytes/00001.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/unknown_magic_bytes/00002.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/unknown_operation/00001.png
  tests/integration/nano/snapshots/nanosp/test_parsing_errors/unknown_operation/00002.png
  tests/integration/nano/snapshots/nanox/test_blindsign_reject/reject_from_blind/clear/00001.png
  tests/integration/nano/snapshots/nanox/test_blindsign_reject/reject_from_blind/clear/00002.png
  tests/integration/nano/snapshots/nanox/test_blindsign_reject/reject_from_clear/00001.png
  tests/integration/nano/snapshots/nanox/test_blindsign_reject/reject_from_clear/00002.png
  tests/integration/nano/snapshots/nanox/test_blindsign_too_deep/clear/00001.png
  tests/integration/nano/snapshots/nanox/test_blindsign_too_deep/clear/00002.png
  tests/integration/nano/snapshots/nanox/test_blindsign_too_large/clear/00001.png
  tests/integration/nano/snapshots/nanox/test_blindsign_too_large/clear/00002.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/one_byte_added_at_the_end/00011.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/one_byte_added_at_the_end/00012.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/one_byte_added_inside/00008.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/one_byte_added_inside/00009.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/one_byte_removed_inside/00009.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/one_byte_removed_inside/00010.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/unknown_magic_bytes/00001.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/unknown_magic_bytes/00002.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/unknown_operation/00001.png
  tests/integration/nano/snapshots/nanox/test_parsing_errors/unknown_operation/00002.png
Labels: app::wallet, device::NANOSP, device::NANOX

#264 Bump `ledger-app-builder` version
  tests/integration/touch/utils.py
Labels: app::wallet, tests, device::STAX, device::FLEX

#265 dont push to next screen if only one pair is being shown.
  app/icons/flex_tezos.gif
  app/src/ui_stream_nbgl.c
  tests/integration/touch/snapshots/flex/test_sign_execute_outbox_messages/operation_proof_396...834_0.png
  tests/integration/touch/snapshots/flex/test_sign_execute_outbox_messages/operation_proof_396...834_1.png
  tests/integration/touch/snapshots/flex/test_sign_execute_outbox_messages/operation_proof_396...834_2.png
  tests/integration/touch/snapshots/flex/test_sign_execute_outbox_messages/operation_prooof_details_396...834_0.png
  tests/integration/touch/snapshots/stax/test_sign_execute_outbox_messages/operation_proof_396...834_0.png
  tests/integration/touch/snapshots/stax/test_sign_execute_outbox_messages/operation_proof_396...834_1.png
  tests/integration/touch/snapshots/stax/test_sign_execute_outbox_messages/operation_proof_396...834_2.png
  tests/integration/touch/snapshots/stax/test_sign_execute_outbox_messages/operation_prooof_details_396...834_0.png
  tests/integration/touch/test_sign_execute_outbox_messages.py
  tests/integration/touch/utils.py
Labels: app::wallet
